/* Main CSS file */

/* Import Variables */
@import url("./variables.css");

/* Component Styles */
@import url("./gallery.css");

/* Base Styles */
@import url("./style.css");

/* Blog Styles */
@import url("./blog-posts.css");

/* Any additional site-wide styles can be added here */
