---
const { t } = Astro.props;
---
<section class="container-fluid text-center mt-5">
    <h2>{t.video.title}</h2>
    <video controls width="80%" loop autoplay muted>
        <source src="https://res.cloudinary.com/dora8sxcb/video/upload/v1739733574/one.mp4_nabbdp.mp4"
            type="video/mp4" />
        הדפדפן שלך אינו תומך בווידאו.
    </video>
</section>
